*{
    font-size: xx-large;
}
.oculto{
    height: 700px;
}
h1{
    background: rgb(208,208,208);
    background: linear-gradient(0deg, rgba(208,208,208,1) 0%, rgba(255,255,255,1) 100%);
    height: 15%;
}
nav{
    height: 45%;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 0;
}
.navbar{
    padding: 0 0 5% 0;
}
.form-group{
    margin: 30px;
}
textarea{
    resize: none;
    outline: 1px solid black;
}
.btn{
    background: rgb(208,208,208);
    background: linear-gradient(0deg, rgba(208,208,208,1) 0%, rgba(255,255,255,1) 100%);
    color: rgb(85, 85, 85);
    border-radius: 30px;
    padding: 20px 40px;
    position: relative;
    left: 45px;
}
.list{
    padding: 10px 20px;
}
.tarea{
    background: rgb(208,208,208);
    background: linear-gradient(0deg, rgba(208,208,208,1) 0%, rgba(255,255,255,1) 100%);
    list-style: none;
    padding: 30px;
    margin: 10px 0;
}
span{
    vertical-align: -10%;
    margin: 0 10% 20px 70px;
    display: inline-block;
    position: relative;
}
input{
    transform: scale(3);
    margin: 20px;
    display: inline-block;
    position: absolute;
}

.tarea a{
    background-image: url('/TodoApp/basura.png');
    height: 80px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 88%;
    position: absolute;
}
